<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>訂單主檔資料</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>

<body>
	<div class="container my-2">
		<!-- Header -->
		<div th:include="header::header"></div>
		<!-- Context -->
		<h1>新增訂單主檔</h1>
		<form action="#" th:action="@{/order/add}" th:object="${order}"
			method="post">
			<div class="form-group">
				<label for="date">下單日期:</label> <input type="date"
					th:value="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}"
					name="date" id="date" placeholder="date">
			</div>
			<div class="form-group">
				<label for="name">客戶:</label> <select class="form-control select2"
					th:onchange="window.location.href='./?customer_id=' + this.value"
					th:field="*{customer.id}">
					<option th:selected="(${c.id} eq (*{customer.id}?:0))"
						th:each=c:${customers} th:text=${c.name} th:value=${c.id}>
					</option>
				</select>
			</div>
			<div class="form-group">
				<label>經手人員:</label> <select th:field="*{employee.id}"
					class="form-control select2">
					<option th:each="e:${employees}" th:text="${e.name}"
						th:value="${e.id}"></option>
				</select>
			</div>
			<div class="form-group">
				<label for="shipmentdate">預計出貨時間:</label> <input type="date"
					th:value="${#dates.format(#dates.createNow() ,'yyyy-MM-dd')}"
					name="shipmentdate" id="shipmentdate">
			</div>

			<div class="form-group">
				<label for="remarks">備註:</label>
				<textarea cols="50" rows="5" th:field="*{remarks}"
					class="form-control" placeholder="備註....">
　              </textarea>
			</div>
			<div>
				<input type="submit" value="提交訂單!" class="btn btn-danger">
			</div>
        </form>
        <p/>
		<table border="1" class="table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>序號</th>
					<th>下單時間</th>
					<th>客戶</th>
					<th>經手人員</th>
					<th>到貨時間</th>
					<th>備註</th>
					<th>編輯</th>
					<th>檢視(明細)</th>
					<th>刪除</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="order:${orders}">
					<td th:text="${order.id}"></td>
					<td th:text="${order.date}"></td>
					<td th:text="${order.customer.name}"></td>
					<td th:text="${order.employee.name}"></td>
					<td th:text="${order.shipmentdate}"></td>
					<td th:text="${order.remarks}"></td>
					<td><a th:href="@{/order/edit/{id}(id=${order.id})}"
						class="btn btn-primary">編輯</a></td>
					<td><a th:href="@{/order/{id}/view/item(id=${order.id})}"
						class="btn btn-primary"> 檢視內部內容(明細)</a></td>
					<td><a th:if="${#lists.size(order.orderItems)==0}"
						th:href="@{/order/delete/{id}(id=${order.id})}"
						class="btn btn-danger">刪除</a></td>
				</tr>
			</tbody>
		</table>
		<!-- footer -->
		<div th:include="footer::footer"></div>
	</div>
</body>
</html>