<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>商品資料</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container my-2">
   <!-- Header -->
   <div th:include="header::header"></div>
   <!-- Context -->
   <h1>新增商品主檔</h1>
   <form th:action="@{/product/update/{id}(id=${product.id})}"
         th:object="${product}"
         method="post">
   
   <div class="form-group">
   <label for="name">商品名稱</label>
   <input type="text" placeholder="新增商品" th:field="*{name}" class="form-control">   
   </div>
   
   <div class="form-group">
   <label for="cost">成本</label>
   <input type="number" placeholder="設定成本" th:field="*{cost}" class="form-control">   
   </div>
   
   <div class="form-group">
   <label for="price">定價</label>
   <input type="number" placeholder="設定定價" th:field="*{price}" class="form-control">   
   </div>
   
   <div class="form-group">
   <label for="unit">單位</label>
   <input type="text" placeholder="設定單位" th:field="*{unit}" class="form-control">   
   </div>
   
   <div class="form-group">
   <label for="mixamount">最小訂購量</label>
   <input type="number" placeholder="最小訂購數量" th:field="*{mixamount}" class="form-control">   
   </div>
   
   <div class="form-group">
   <label for="description">商品備註</label>
   <textarea cols="50" rows="5" th:field="*{description}"
    class="form-control">
   </textarea>
   </div>
   <input type="submit" value="新增產品" class="btn btn-danger">
   </form>
   <p/>
   <!-- footer -->
   <div th:include="footer::footer"></div>
</div>
</body>
</html>