<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>採購單主檔維護</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<div class="container my-2">
   <!-- Header -->
   <div th:include="header::header"></div>
   <!-- Context -->
   <h1>新增採購單主檔</h1>
   <form action="#"
         th:action="@{/purchase/add}"
         th:object="${purchase}"
         method="post"
         >
   <div class="form-group">
	<label for="date">共應日期:</label> 
	<input type="date"
	th:value="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}"
	name="date" id="date" placeholder="date">
	</div>
   <div class="form-gruop">
   <label for="supplier">供應商</label>
   <select th:field="*{supplier.id}" class="form-control select2"
   th:onchange="'window.location.href = \'' + @{./} + '?supplier_id=\' + this.value ' "
   >
   <option
    th:selected="(${s.id} eq (*{supplier.id})?:0)"
    th:each="s:${suppliers}" th:text="${s.name}" th:value="${s.id}">
   </option>
   </select>
   </div> 
   <div class="form-gruop">
   <label for="employee">經手員工</label>
   <select th:field="*{employee.id}" class="form-control select2">
   <option 
   th:each="e:${employees}" 
   th:text="${e.name}" 
   th:value="${e.id}">
   </option>
   </select>
   </div>
   <input type="submit" class="btn btn-primary">       
   </form>
   <p/>
   <table border="1" class="table table-striped table-responsive-md">
   <thead>
          <tr>
             <td>共應商序號</td>
             <td>採購時間</td>
             <td>供應商</td>
             <td>經手員工</td>
             <td>採購單明細</td>
             <td>修改</td>
             <td>刪除</td>
          </tr>  
   </thead>
   <tbody>
         <tr th:each="purchase:${purchases}">
            <td th:text="${purchase.id}"></td>
            <td th:text="${purchase.date}"></td>
            <td th:text="${purchase.supplier.name}"></td>
            <td th:text="${purchase.employee.name}"></td>
            <td>
            <a th:href="@{/purchase/{pid}/view/item(pid=${purchase.id})}"
            >
            明細
            </a>
            </td>
            <td>
            <a th:href="@{/purchase/edit/{id}(id=${purchase.id})}">修改</a>
            </td>
            <td>
            <a th:if="${#lists.size(purchase.purchaseItems)==0}"
               th:href="@{/purchase/delete/{id}(id=${purchase.id})}">刪除</a>
            </td>
         </tr>
   </tbody>
   </table>
   <!-- footer -->
   <div th:include="footer::footer"></div>
</div>
</body>
</html>